# Environment dev
TEST_ENV=

# Cypress Configuration

# Appium Configuration
APPIUM_PATH=
APPIUM_PORT=

# Capabilities
PLATFORM_NAME= # Android | iOS
PLATFORM_VERSION=
DEVICE_NAME=
DEVICE_NAME_CUCUMBER=
BROWSER_NAME= # Chrome | Firefox | Safari
AUTOMATION_NAME=

APP_PACKAGE= # Default Package
APP_ACTIVITY= # Default Activity

# Test Configuration
LOG_LEVEL= # trace | debug | info | warn | error | silent